.hero__title {
    font-size: 56px;
    font-weight: 600;
    line-height: 100%;
    margin: 0 auto;
    padding-top: 98px;
    padding-left: 17px;
    text-align: center;
    padding-bottom: 55px;
}
.hero__cards {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    row-gap: 22px;
    column-gap: 20px;
    margin-left: -5px;
    .card__one {
        width: 615px;
        height: 260px;
        background-image: url(../../../img/png/Решения-Софтлайн.png);
        &:hover {
            background-image: url(../../../img/png/Решения-Софтлайн-1.png);
            transition: 0.5s;
        }
    }
    .card__two {
        width: 615px;
        height: 260px;
        background-image: url(../../../img/png/Кибербезопасность.png);
        &:hover {
            background-image: url(../../../img/png/Кибербезопасность-1.png);
            transition: 0.5s;
        }
    }
    .card__three {
        width: 615px;
        height: 260px;
        background-image: url(../../../img/png/Импортозамещение.png);
        &:hover {
            background-image: url(../../../img/png/Импортозамещение-1.png);
            transition: 0.5s;
        }
    }
    .card__for {
        width: 615px;
        height: 260px;
        background-image: url(../../../img/png/Облачные-решения.png);
        &:hover {
            background-image: url(../../../img/png/Облачные-решения-1.png);
            transition: 0.5s;
        }
    }
    .card__five {
        width: 615px;
        height: 260px;
        background-image: url(../../../img/png/Цифровая-трансформация.png);
        &:hover {
            background-image: url(../../../img/png/Цифровая-трансформация-1.png);
            transition: 0.5s;
        }
    }
    .card__six {
        width: 615px;
        height: 260px;
        background-image: url(../../../img/png/Тех-поддержка.png);
        &:hover {
            background-image: url(../../../img/png/Техническая-поддержка-1.png);
            transition: 0.5s;
        }
    }
    
}
@media (max-width: 330px) { 
    .hero__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 100%;
        margin: 0 auto;
        padding-top: 98px;
        padding-left: 17px;
        text-align: center;
        padding-bottom: 55px;
    }
    .hero__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
        column-gap: 10px;
        margin-left: -5px;
        .card__one {
            width: 280px;
            height: 60px;
            background-image: url(../../../img/png/Решения-Софтлайн-mini.png);
            
        }
        .card__two {
            width: 280px;
            height: 60px;
            background-image: url(../../../img/png/Кибербезопасность-mini.png);
            &:hover {
                background-image: url(../../../img/png/Кибербезопасность-mini2.png);
                transition: 0.5s;
                width: 280px;
                height: 240px;
            }
        }
        .card__three {
            width: 280px;
            height: 60px;
            background-image: url(../../../img/png/Импортозамещение-mini.png);
            
        }
        .card__for {
            width: 280px;
            height: 60px;
            background-image: url(../../../img/png/Облачные-решения-mini.png);
           
        }
        .card__five {
            width: 280px;
            height: 60px;
            background-image: url(../../../img/png/Цифровая-трансформация-mini.png);
            
        }
        .card__six {
            width: 280px;
            height: 60px;
            background-image: url(../../../img/png/Тех-поддержка-mini.png);
            
        }
        
    }
}